/* TODO format styles from header to footer */
:root {
  --primary: #2e7d32;
  --secondary: #4caf50;
  --accent: #00bcd4;
  --neutral: #9e9e9e;

  --primary-test: #0d47a1;
  --secondary-test: #4caf50;
  --accent-test: #ff5722;
  --test: #e0e0e0;

  --accent-text: #fbeb8c;
  --accent-second: #ffc800;
  --neutral-main: #ffe3cd;
  --neutral-second: #264233;
  --neutral-select: #08534a;
  --text: #f0fdf5;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  /* mix-blend-mode: difference; */
  /* background-color: var(--neutral-main); */
}

body {
  background-color: var(--neutral-main);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*? Header */
.title {
  /* font-size: 30px !important; */
  color: var(--accent-second) !important;
}
.nav-color {
  background-color: var(--neutral-second);
  color: var(--text);
  /* text-transform: uppercase; */
}
/* ul == .header */
/* .link-head {
  display: block;
  padding: 8px;
  color: #f0fdf5;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.link-head:hover,
.active {
  background-color: var(--neutral-select);
} */
/*? Index Body */
.fill-stuff {
  z-index: 30;
  background-color: #00212a;
  opacity: 20%;
  height: 100vh;
  width: auto;
}
.area {
  z-index: 5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2.2fr;
  gap: 0.2em 0.2em;
  grid-auto-flow: row;
  grid-template-areas: "left-p right-p";
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.left-p {
  grid-area: left-p;
}

.right-p {
  grid-area: right-p;
}

section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* place-items: center;
  align-content: center; */
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.from-left {
  transform: translateX(-100%);
}
.from-right {
  transform: translateX(100%);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.iter:nth-child(1) {
  transition-duration: 200ms;
}
.iter:nth-child(2) {
  transition-duration: 400ms;
}
.iter:nth-child(3) {
  transition-duration: 600ms;
}

.dashboard {
  background-image: url("blob/leaves.png");
  background-size: cover;
  object-fit: cover;
}
.shadow {
  background-color: #252827a9;
  height: 100vh;
  width: 70%;
}
.dashboard-content {
  display: grid;
  place-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.dashboard-content h1 {
  font-family: "Oswald", Courier, monospace;
  font-size: 16vh;
}
.dashboard-content h6 {
  font-family: "DM Sans", Courier, monospace;
  font-size: 3vh;
}

.slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* place-items: center;
  align-content: center; */
  background-color: #e0e0e0;
  width: 100vw;
}

.slide3 div {
  color: #2f4531;
  font-family: "Oswald";
  font-size: 6vw;
}
.nav-link {
  color: var(--text) !important;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--neutral-select);
  color: var(--text);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out;
}
#toTop:hover {
  background-color: var(--text);
  color: var(--neutral-select);
}

#contact {
  background-color: var(--neutral-second);
}

.theme {
  background-color: var(--neutral-main);
}
/* admin */
.components {
  background-color: var(--neutral-main) !important;
  color: #ffffff;
  display: grid;
  place-items: center;
  align-content: start;
  min-height: 100vh;
}
.stuff {
  background-color: var(--neutral-select) !important;
  color: #ffffff;
}

.center {
  display: grid;
  place-items: center;
  place-content: center;
}

.grid-item {
  width: 300px;
  height: 200px;
}
option {
  color: var(--neutral-main);
}

.contacts {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: var(--neutral-second);
  padding-bottom: 10px;
  margin: 0;
}

.card-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: auto;
  max-height: 300px;
  transition: all 0.2s ease-in-out;
}

.step-count {
  display: flex;
  justify-content: center;
  background-color: var(--neutral-select);
  width: 50%;
  border: 2px solid var(--neutral-second);
  border-radius: 20px;
  font-size: 20px;
}
.step-count-container {
  position: absolute;
  top: -15px;
  left: 25%;
  width: 100%;
  height: 100%;
}
.step-container {
  position: relative;
  background-color: var(--neutral-second);
  width: 90%;
  height: 100%;
  border: 2px solid white;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.card-steps:nth-child(1) {
  transition-duration: 400ms;
}
.card-steps:nth-child(2) {
  transition-duration: 800ms;
}
.card-steps:nth-child(3) {
  transition-duration: 1200ms;
}

.card-steps:hover {
  scale: 1.02;
}

.step-container:hover {
  border-color: var(--accent-second);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.from-top {
  transform: translateY(-100%);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("blob/logo.png");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
